.header {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__brand {
    color: #FF0043;
    font-size: 20px;
    font-weight: bold;
}

@media screen and (max-width: 500px ){
    .header{
        padding: 0 10px;
        
    }
}


