.platforms {
    display: flex;
    justify-content: center;
    margin-top: 79px;
    
}

.platforms__item{
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    max-width: 300px;
}

.platforms__item+.platforms__item{
    margin-left: 21px;
}

.platforms__img{
    height: 60px;
    width: 60px;
}

.platforms__title{
    font-size: 22px;
    font-weight: 500;
}

.platforms__text{
    font-size: 16px;
    font-weight: lighter;
}

.platforms__footer{
    display: flex;
    justify-content: space-between;
}

.platforms__link{
    font-size: 16px;
    text-decoration: underline;
    font-weight: bold;
    color: gray;
    
}

@media screen and (max-width: 576px ){
    .platforms{
        flex-direction: column;
        align-items: center;
    }
    .platforms__item+.platforms__item{
        margin-left: 0px;
        margin-top: 21px;
    }
}


