.start{
    background-color: #00194A;
    border-radius: 25px;
    padding: 50px 0;
    
}

.start__text{
    text-align: center;
    font-size: 18px;
    font-weight: lighter;
    margin-bottom: 50px;
}

.start__title{
    font-weight: 500;
    font-size: 35px;
    
}


.start__content{
    max-width: 600px;
    margin: 0 auto;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}