body {
    padding: 0px 150px;
    background-color: #F2F2F2;
    margin: 0px;
    color: #00194A;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.btn {
    color: white;
    font-size: 14;
    font-weight: bold;

    background-color: #FF0043;
    border-radius: 23px;
    padding: 15px 20px;
    border: 1px solid #FF0043;
    transition: background linear 200ms;
}
.btn:hover {
    background-color: #cc0137;
    cursor: pointer;
}

@media screen and (max-width: 992px ){
    body{
        padding: 0 100px;
    }
}



@media screen and (max-Width:768px) {
    body{
        padding: 0 10px;
    }
}